In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

## import data

In [2]:
df = pd.read_csv('../../../Machine Learning/project library/Medical Cost/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## charges central tendency

In [3]:
np.mean(df['charges']), np.median(df['charges'])

(13270.422265141257, 9382.033)

## bmi central tendency

In [4]:
np.mean(df['bmi']), np.median(df['bmi'])

(30.66339686098655, 30.4)

## class balance

In [20]:
age = df.groupby(by='age')[['sex']].count().reset_index()
age.rename(columns={'sex':'count'}).T

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
age,18,19,20,21,22,23,24,25,26,27,...,55,56,57,58,59,60,61,62,63,64
count,69,68,29,28,28,28,28,28,28,28,...,26,26,26,25,25,23,23,23,23,22

In [19]:
sex = df.groupby(by='sex')[['bmi']].count().reset_index()
sex.rename(columns={'bmi':'count'})

      sex  count
0  female    662
1    male    676

In [21]:
smoker = df.groupby(by='smoker')[['region']].count().reset_index()
smoker.rename(columns={'region':'count'})

  smoker  count
0     no   1064
1    yes    274

In [22]:
region = df.groupby(by='region')[['sex']].count().reset_index()
region.rename(columns={'sex':'count'})

      region  count
0  northeast    324
1  northwest    325
2  southeast    364
3  southwest    325

## variance and deviation

In [24]:
# variance
np.var(df,axis=0)

age         1.972539e+02
bmi         3.716009e+01
children    1.452127e+00
charges     1.465428e+08
dtype: float64

In [25]:
# standard deviation
np.std(df,axis=0)

age            14.044709
bmi             6.095908
children        1.205042
charges     12105.484976
dtype: float64